
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;1,300&family=Poppins&display=swap');
+{
	box-sizing: border-box;

}

body{
	background: #14273d;
	font-weight: 700;
	color: #fff;
	font-size: 22px;
	
	font-family: 'Didact Gothic', sans-serif;
}

.navbar{
	display: grid;
	grid-template-columns: repeat(6, 400px 1fr 1fr 1fr 1fr 1fr);
	margin-top: 10px;
	grid-gap: 20px;
	
}

li{
	list-style: none;
}
li:nth-child(1){
	margin-right: 50px;
}


a{
	text-decoration: none;
	color: #fff;
}

.nav-link{
	text-align:center; 
	padding:5px 25px;
	padding-top: 5px;
	border-radius: 50px;
}

.nav-link:not(:first-of-type){
	background-color: #17375b;
	transition: transform .3s;
}
.nav-link:not(:first-of-type):hover{
	background-color: #4475e2;
	cursor: pointer;
	transform: translateY(5px);
}

.hero-section{
	display: grid;
	grid-template-columns: repeat(2, 700px 1fr);
	align-items: center;
	margin-top: 50px;
}
.hero-section-content{
	margin-left: 200px;
	margin-bottom: 100px;
}

.hero-section-content h3{
	margin-top: -35px;
	color: #4475e2;
}
 p{
	font-family:inherit;
  	font-size: inherit;
}
.hero-section-content hr{
	width: 443px;
	margin-left: 0px;
	margin-top: -10px;
}
.hero-section-content .btn1{
	border: none;
	outline: none;
	padding: 15px 45px;
	background: transparent;
	border-radius: 50px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: transform .3s;
	background: #17375b;
	border: 2px solid #4475e2;
	margin-left: 10px;

}
.hero-section-content .btn1:hover{
	transform: translateY(5px);
	background: #4475e2;
	color: #fff;
}
.name{
	color: #F4D06F;
}

.theory{
	display: grid;
	align-items: center;
	margin-top: 30px;
	background: #AAADC4;
}
.theory-content{
	margin:20px 50px 30px 50px;
	align-items: center;

}
.hero-section-img1{
	margin: 0 150px 0 0;
}

.hero-section-img2{
	margin: 0 200px 0 0;
}
.theory2{
	
	display: grid;
	grid-template-columns: 700px 450px ;
	align-items: center;
	margin-top: 50px;
	margin-left: 300px;
}
.theory2-content{

	align-self: center;
  justify-self: center;

	margin: 0 50px 100px;
}

.parent{
	display: flex;
	width: 100%;

}
.child{
	flex: 1;
	height: 470px;
	padding: 1rem;
	background: #EAB464;

}
.form1{
	display:block;
	width:50%;
	margin:10px 0;
  	padding:10px;
	border-radius:10px;
  	border: 1px solid #eee;
  	transition: .3s border-color;
}
.form1:hover {
    border: 1px solid #aaa;
}
.input-invalid {
    border: 4px solid $color-red;
}



.btn2{
	background-color: #17375b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn2:active {
  background-color: #e7e7e7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wrapper1
{
	width: 100%;
}

.quiz-frame
{
	border: 0;	
}

.arr {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
  width:90px;
  height: 30px;
}
.arr:hover {
  border: 1px solid #aaa;
}
