.content{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.btn{
    padding: 0.8rem 1.7rem;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.start{
    color:#14273d;
}
.stop{
    color: #E00;
}
#seconds{
    width: 250px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 4px solid #fff;
    padding: 1rem;
    font-size: 2rem;
    color: white;
}

#seconds::placeholder{
    color: #ddd;
}

#continue, .stop, #start{
    display: none;
}